TEC/TEC_NOAA_DATA/
TEC/TEC_NOAA/
TEC/TEC_ROTI_DPTO/
TEC/TEC_ROTI_DPTO_LAST/
OMNIWEB_NASA/OMNI_DATA/
OMNIWEB_NASA/OMNI_DATA_LAST/
OMNIWEB_NASA/OMNI_DATA_CSV/
S4_LISN/data 
S4_LISN/outputs
*.nc